CONFIG_MEDIA_SUPPORT=y
CONFIG_VIDEO_DEV=y
CONFIG_DVB_CORE=y
CONFIG_VIDEO_V4L2=y
CONFIG_V4L2_FWNODE=y
CONFIG_VIDEOBUF2_CORE=y
CONFIG_VIDEOBUF2_V4L2=y
CONFIG_VIDEOBUF2_MEMOPS=y
CONFIG_VIDEOBUF2_DMA_CONTIG=y
CONFIG_VIDEO_STM32_DCMI=y
CONFIG_VIDEO_OV5640=y
# CONFIG_VIDEO_OV7670 is not set
CONFIG_MEDIA_TUNER=y
