[Unit]
Description=Initial robot env
After=systemd-remount-fs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/sbin/tt_robot_init.sh


[Install]
WantedBy=multi-user.target
